.ItemThumbnail {
  height: 33vh;
  width: 250px;
  margin: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.ItemThumbnail img {
  height: 33vh;
  width: 250px;
  object-fit: contain;
  object-fit: cover;
}

@media (max-width: 1294px) {
  .ItemThumbnail {
    width: 21.5vw;
    height: 30vh;
  }

  .ItemThumbnail img {
    height: 30vh;
  }
}

@media (max-width: 1200px) {
  .ItemThumbnail {
    width: 23vw;
  }

  .ItemThumbnail img {
    object-fit: cover;
    width: 23vw;
  }
}

@media (max-width: 1000px) {
  .ItemThumbnail {
    width: 23vw;
  }

  .ItemThumbnail img {
    object-fit: cover;
    width: 23vw;
  }
}

@media (max-width: 800px) {
  .ItemThumbnail,
  .ItemThumbnail img {
    height: 27vh;
    width: 25vw;
  }
}

@media (max-width: 640px) {
  .ItemThumbnail,
  .ItemThumbnail img {
    height: 25vh;
    width: 25vw;
  }
}

@media (max-width: 576px) {
  .ItemThumbnail,
  .ItemThumbnail img {
    height: 21vh;
    width: 25vw;
  }
}

@media (max-width: 500px) {
  .ItemThumbnail,
  .ItemThumbnail img {
    height: 17vh;
    width: 24vw;
  }
}