.Navigation {
  position: fixed;
  top: 0;
  width: 100vw;
  max-height: 70px;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  box-shadow: 0 0 10px 2px #555;
  background-color: rgb(217, 217, 224);
}

.InvisibleDiv,
.Hamburger {
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  display: none;
}

.Hamburger i {
  padding: 5px;
  color: rgba(25, 25, 77, 0.342);
  font-size: 30px;
}

.Logo {
  position: absolute;
  left: 50%;
  top: 35px;
  transform: translate(-50%, -50%);
  min-width: 320px;
  font-family: 'Pacifico', cursive;
  color: rgb(25, 25, 77);
  padding: 15px;
  font-size: 40px;
  font-weight: normal;
}

@media (max-width: 1200px) {
  .Logo {
    left: 0;
    transform: translate(3%, -50%);
  }
}

@media (max-width: 768px) {
  .InvisibleDiv,
  .Hamburger {
    display: block;
  }
  .Logo {
    position: relative;
    transform: translate(0, 0);
    top: auto;
    left: auto;
  }
}

@media (max-width: 576px) {
  .Navigation {
    padding: 15px;
  }
  .Logo {
    font-size: 30px;
    padding: 10px;
    min-width: auto;
  }
}
@media (max-width: 360px) {
  .Logo {
    font-size: 25px;
    padding: 5px;
  }
}