.Navigation {
  background-color: rgba(166, 168, 182, 0.432);
  padding: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.Navigation i {
  color: rgba(25, 25, 77, 0.342);
  font-size: 3rem;
}

.Navigation div {
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  padding-top: 1%;
} 

h2 {
  text-align: center;
  flex-grow: 1;
  font-family: 'Pacifico', cursive;
  color: rgb(25, 25, 77);
  font-size: 2.5rem;
  font-weight: 300;
}