.Navigation {
  background-color: rgba(166, 168, 182, 0.432);
  padding: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;

}

.Navigation i {
  padding: 1%;
  height: 35px;
  width: 35px;
  color:rgba(25, 25, 77, 0.342);
  font-size: 3rem;
}

.Navigation div {
  height: 35px;
  width: 35px;
}

h2 {
  text-align: center;
  flex-grow: 1;
  font-family: 'Pacifico', cursive;
  color:rgb(25, 25, 77);
  font-size: 2.5rem;
  font-weight: 300;
}

.Content {
  position: absolute;
  /* background-color: rgb(184, 184, 184); */
  width: 95%;
  left: 2.5%;
  /* height: 20%; */
  top: 15%;
  bottom: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.Outfit {
  /* background-color: rgba(167, 167, 167, 0.726); */
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Outfit div {
  background-color: rgba(204, 148, 197, 0.671);
  margin: 10px;
}

.Outfit div:nth-child(1) {
  height: 100px;
}
.Outfit div:nth-child(2) {
  height: 200px;
}
.Outfit div:nth-child(3) {
  height: 50px;
}

.Buttons {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 5%;
  width: 100%;

}

.Buttons button {
  background-color: rgba(166, 168, 182, 0.432);
  border: none;
  border-radius: 5px;
  color: rgb(25, 25, 77);
  margin: 5px;
  text-align: center;
  height: 60px;
  width: 60px;

}

.Buttons i {
  line-height: 30px;
  font-size: 2.2rem;
}

.Buttons button:nth-child(1) i {
  padding-left: 10px
}

.Buttons p {
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.Buttons .WholeSetButton {
  width: 170px;
  padding: 5px;
  color: white;
  background-color: rgb(25, 25, 77);;
}
