.Outfit {
  /* background-color: rgba(167, 167, 167, 0.726); */
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Outfit div {
  background-color: rgba(204, 148, 197, 0.671);
  margin: 10px;
}

.Outfit div:nth-child(1) {
  height: 100px;
}
.Outfit div:nth-child(2) {
  height: 200px;
}
.Outfit div:nth-child(3) {
  height: 50px;
}

.SmallButton {
  background-color: rgba(166, 168, 182, 0.432);
  border: none;
  border-radius: 5px;
  color: rgb(25, 25, 77);
  margin: 5px;
  text-align: center;
  height: 60px;
  width: 60px;
}

.SmallButton i {
  line-height: 30px;
  font-size: 2.2rem;
}

.SmallButton:nth-of-type(1) i {
  padding-left: 10px;
}