.ItemForm {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.Row {
  width: 450px;
  margin: 7px;
  display: flex;
  justify-content: left;
}

.Description {
  display: flex;
  flex-direction: column;
}

.Description label {
  font-size: 1.6rem;
  padding: 3px 0;
}

.Title {
  padding: 10px 10px 10px 0;
  font-size: 1.8rem;
  width: 250px;
}

.Select {
  width: 190px;
  font-size: 1.6rem;
  outline: none;
}

.PhotoContainer {
  width: 70vw;
  max-width: 500px;
  height: 75vw;
  max-height: 400px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PhotoContainer img {
  height: 100%;
}


/* @media (max-height: 1400px) {
  .PhotoContainer {
    max-width: none;
    max-height: none;
    height: 45%;
    width: 50%;
  }
}

@media (max-height: 680px) {
  .PhotoContainer {
    height: 35%;
    width: 35%;
    margin: 10px;
  }

  .Description label,
  .Title,
  .Select,
  .Paragraph {
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  .Row {
    margin-left: 3px;
    width: auto;
  }

  .Title {
    width: 210px;
  }

  .ItemForm {
  }

  .PhotoContainer {
    height: 40%;
  }
}

@media (max-width: 520px) {
  .Row {
    flex-direction: column;
    width: 190px;
    margin-left: 10px;
    margin: 5px;
  }

  .PhotoContainer {
    height: 35%;
  }

  .Title {
    width: 210px;
  }
}  */
