.ItemForm {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.Row {
  width: 450px;
  margin: 10px;
  display: flex;
  justify-content: left;
}

.Description {
  display: flex;
  flex-direction: column;
}

.Description label {
  font-size: 1.6rem;
  padding: 3px 0;
}

.Title {
  padding: 10px;
  font-size: 1.8rem;
  width: 250px;
}

.Select {
  width: 200px;
  font-size: 1.6rem;
  outline: none;
}

.PhotoContainer {
  width: 70vw;
  max-width: 500px;
  height: 75vw;
  max-height: 400px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PhotoContainer img {
  height: 100%;
}

@media (max-height: 1400px) {
  .PhotoContainer {
    max-width: none;
    max-height: none;
    height: 50%;
    width: 50%;
  }
}

@media (max-height: 680px) {
  .PhotoContainer {
    height: 35%;
    width: 35%;
    margin: 10px;
  }
}