.SecondaryButton {
  width: 190px;
  padding: 10px 15px;
  margin: 7px 0;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: #8E8EB5;
  outline: none;
}

.SecondaryButton p {
  font-size: 14px;
  color: white;
}

.SecondaryButton:hover {
  cursor: pointer;
  background-color: #7F7F97;
  color: white
}