.ItemPicture {
  width: 70vw;
  height: 70vw;
  /* background-color: rgba(166, 168, 182, 0.432); */
  margin: 3%;
}

.ItemPicture img {
  height: 100%;
  width: 100%;
}

.Name {
  font-size: 1.6rem;
  margin: 3%;
  width: 100%;
  text-align: center;
}

.Name, .Name strong {
  font-size: 1.6rem;
}


.EditItem {
  background-color: rgba(166, 168, 182, 0.432);
  font-size: 1.6rem;
  padding: 3%;
  border: none;
  border-radius: 5px;
  color: rgb(25, 25, 77);
  margin: 3%;
  text-align: center;
}

.EditItem a {
  font-size: 1.6rem;
  color: black

}