.ItemPicture {
  width: 70vw;
  height: 70vw;
  max-height: 300px;
  text-align: center;

  /* background-color: rgba(166, 168, 182, 0.432); */
  margin: 3%;
}


.ItemPicture img {
  height: 100%;

}

.Name {
  font-size: 1rem;
  margin: 3%;
  width: 100%;
  text-align: center;
}

.Name, .Name strong {
  font-size: 1rem;
}


.EditItem {
  background-color: rgba(166, 168, 182, 0.432);
  font-size: 1rem;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  color: rgb(25, 25, 77);
  /* margin: 3%; */
  text-align: center;
}

.EditItem a {
  font-size: 1rem;
  color: black

}

.Info p {
  margin: 15px 0;
}

.Paragraph {
  padding-bottom: 15px;
  font-size: 18px;
  margin-bottom: 5px;
}