.StartingPage {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Logo {
  font-size: 7vw;
  font-weight: 300;
  font-family: 'Pacifico', cursive;
  color: rgb(25, 25, 77);
}

.Hint {
  width: 350px;
  padding: 20px;
  margin-top: 15vh;
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 5px 5px 15px 5px rgba(166, 168, 182, 0.582);
}

.Hint p {
  padding: 10px;
  font-size: 1.8rem;
  letter-spacing: 4px;
}

.Hint div:nth-of-type(3) p {
  letter-spacing: 1px;
}

.Hint p i {
  margin-right: 5px;
  font-size: 1.8rem;
}

.RoundBtn {
  position: absolute;
  bottom: 5%;
  right: 10%;
  width: 60px;
  height: 60px;
  border: 0 solid transparent;
  border-radius: 50%;
  background-color: rgb(25, 25, 77);
}

.RoundBtn i {
  padding-top: 2px;
  font-size: 3rem;
  color: #fff;
}

.RoundBtn:hover {
  cursor: pointer;
  background-color: rgb(17, 17, 53);
}

@media (max-width: 1200px) {
  .Logo {
    font-size: 10vw;
  }

  .Hint {
    width: 300px;
    padding: 15px;
  }

  .Hint p {
    padding: 7px;
  }
}

@media (max-width: 768px) {
  .Logo {
    font-size: 11vw;
  }
  .Hint {
    width: 250px;
    padding: 10px;
    margin-top: 10vh;
  }
  .Hint p,
  .Hint p i {
    font-size: 1.6rem;
  }

  .Hint p {
    padding: 5px;
  }
}

@media (max-width: 576px) {
  .StartingPage {
    justify-content: flex-end;
  }
  .Logo {
    font-size: 12.5vw;
  }
  .Hint {
    margin: 20vh 0 20vh;
  }
}