div.Input {
  /* background-color: #ddd; */
  width: 85%;
  max-width: 600px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Input input {
  width: 100%;
  padding: 3%;
  font-size: 1.6rem;
}

.Input label {
  /* margin: 3%; */
  padding: 5% 0;
}