div.Input {
  width: 50%;
  min-width: 500px;
  max-width: 600px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  outline: none;
}

.Input input {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
}

.Input label {
  padding: 2% 0;
  font-size: 1rem;
}

.ErrorMessage div {
  height: 30px;
  padding: 5px;
}

.ErrorMessage div p {
  font-size: 13px;
  color: rgb(214, 61, 61);
}

@media (max-width: 768px) {
  div.Input {
    width: 80%;
    min-width: auto;
    padding: 5px;
  }
  .Input input {
    padding: 4px;
  }
}