.LinksList {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.6rem;
  padding: 15%;
}

li {
  padding: 15px
}

.LinksList li a {
  font-size: 1.6rem;
  color: #000;
}

