.Layout {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.Content {
  flex-grow: 1;
  padding: 15px;
  width: 100%;
  max-width: 1000px;
  margin-top: max(10%, 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.ButtonsContainer {
  width: 100%;
  height: 70px;
  padding: 0 5px;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}

@media (max-height: 750px) {
  .Content {
    padding: 8px;
  }
  .ButtonsContainer {
    margin-bottom: 3%;
  }
}

@media (max-width: 999px) {
  .Content {
    max-width: 95vw;
  }
}